.creat-area {
    background-color: #FAF7EE;
    border-bottom: 1px solid #152F46;

    .creat-centent {
        position: relative;
        p {
            font-size: 18px;
        }
        .quite-left {
            position: absolute;
            content: "";
            left: -50px;
            top: -25px;
            font-size: 40px;
        }
        .quite-right {
            position: absolute;
            content: "";
            right: 0px;
            bottom: -20px;
            font-size: 40px;
        }
    }
    .single-items{
        overflow: hidden;
        &:hover img {
            transform: scale(1.05);
        }
    }
    .creat-see-more {
        a {
            font-size: 18px;
            color: $theme-color;
            font-weight: 700;
            border-bottom: 1px solid $theme-color;
        }
    }
    .creat-button {
        a {
            font-size: 18px;
            background-color: $theme-color;
            padding: 20px 60px;
            display: inline-block;
            margin-top: 30px;
            color: #fff;
            font-weight: 700;
            border-radius: 15px;
            border: 1px solid transparent;

            &:hover {
                border-color: $theme-color;
                color: $theme-color;
                background-color: transparent;
            }
        }
    }
}


// Responsive 

// x-large device 
@media (min-width: 1200px) and (max-width: 1399.98px) {
   .creat-area {
       background-color: red;
   }
     
 }
 
 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }
 
 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) and (max-width: 991.98px) { 
    .creat-title {
        padding-bottom: 70px;
        span {
            transform: translateX(-10px);
        }
    }
    .creat-area {
        .creat-centent {
            margin-bottom: 50px;
        }
        .creat-see-more {
            margin-top: 20px;
        }
    }
 }
 
 // Extra small devices (portrait phones, less than 576px)
 @media (max-width: 575.98px) { 
    
    .creat-area {
        .creat-centent {
            margin-bottom: 50px;

            .quite-left {
                left: 0;
                top: -52px;
            }
        }
        .creat-see-more {
            margin-top: 20px;
        }
    }
 }
 
 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .creat-title {
        padding-bottom: 70px;
        h2 {
            font-size: 60px;
        }
        span {
            transform: translateX(-10px);
        }
    }
    .creat-area {
        .creat-centent {
            margin-bottom: 50px;
        }
        .creat-see-more {
            margin-top: 20px;
        }
    }
    
 }
 
