.footer-area {
    border-bottom: 1px solid #152F46;
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer-copyright {
            display: flex;
            align-items: center;

            p {
                font-size: 18px;
                font-weight: 500;
                padding-left: 20px;
            }
        }
        .footer-theme {
            p {
                font-size: 18px;
                font-weight: 500;
                padding-left: 20px;
            }
        }
    }
}

// Responsive 

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
   
 
}
 
 // Extra small devices (portrait phones, less than 576px)
 @media (max-width: 575.98px) { 
    .footer-area {
        text-align: center;
        .footer-content {
            display: inherit;
            .footer-copyright {
                display: inherit;

                p {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
            .footer-theme {
                p {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}
 
 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) and (max-width: 767.98px) { 
   
    
}
 
