.transprant-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include transition(0.3s);
    z-index: 99;
}
.header-area {
    padding: 50px 130px;
    .main-menu {
        margin-left: 50px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;

                a {
                    display: block;
                    font-size: 20px;
                    color:#BDBDBD;
                    font-weight: 500;
                    position: relative;
                    margin-right: 80px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 1px;
                        background: #E03D52;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        @include transition(0.3s);
                    }
                    &:hover:before {
                        width: 100%;
                    }
                    &:hover {
                        color: #E03D52;
                    }
                }
            }
        }
    }
    .header-login {
        a {
            display: inline-block;
            font-size: 20px;
            color:#828282;
            font-weight: 500;
            position: relative;
            margin-right: 35px;
            border: 1px solid transparent;
            line-height: 1;
        }
        .header-join {
            display: inline-block !important;
            color: #fff;
            background-color: $theme-color;
            padding: 15px 30px;
            border-radius: 15px;

            &:hover {
                border-color: $theme-color;
                color: $theme-color;
                background-color: transparent;
            }
        }
    }
}
.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $theme-color;
	padding: 10px 100px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    animation-name: fadeInDown !important;
    animation-duration: 1s;
    animation-fill-mode: both;
    @include transition(0.3s);
    z-index: 9999;

    .header-login {
        .header-join {
            display: inline-block !important;
            color: $theme-color;
            background-color: #fff;
            padding: 15px 30px;
            border-radius: 15px;

            &:hover {
                border-color: #fff;
                color: #fff;
                background-color: transparent;
            }
        }
    }
}


// Responsive 
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .header-area {
        .main-menu {
            ul {
                li {
                    a {
                        margin-right: 50px;
                      }
                }
            }
        }
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .header-area {
        padding-left: 20px;
        padding-right: 20px;
        .main-menu {
            margin-left: 0;
            ul {
                li {
                    a {
                        margin-right: 20px;
                      }
                }
            }
        }
        .header-login {
            a {
                margin-right: 20px;
            }
            .header-join {
                margin-right: 0;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    .header-area {
        padding: 20px 20px;
        // position: relative;
        .mobile-menu-icon {
            position: absolute;
            width: 50px;
            height: 38px;
            background-color: #152f46;
            right: 50px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 10px;
            @include transition(0.3s);

            .spiner {
                width: 30px;
                height: 3px;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include transition(0.3s);
            }
            .spiner-top {
                margin-top: -8px;
            }
            .spiner-middle {
                width: 20px;
                left: 40%;
            }
            .spiner-bottom {
                margin-top: 8px;
            }
        }
        .slider-show {
            .spiner-top {
                margin-left: -16px;
                transform: rotate(50deg);
                margin-top: -2px;
            }
            .spiner-middle {
                opacity: 0;
            }
            .spiner-bottom {
                margin-left: -15px;
                transform: rotate(-50deg);
                margin-top: -2px;
            }
        }
        .mobile-menu {
            position: absolute;
            background-color: $theme-color;
            width: 100%;
            height: 0;
            top: 100%;
            right: 0;
            margin-left: 0px;
            text-align: center;
            border-top: 1px solid transparent;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);
            z-index: 9999;
            ul {
                padding: 20px 0;
                li {
                    display: block !important;

                    a {
                        display: inline-block;
                        margin: 10px 0;
                    }
                }
            }
        }
        .menu-show {
            border-color: #fff;
            height: 240px;
            opacity: 1;
            visibility: visible;
            @include transition(0.3s);
        }
        .header-login {
            a {
                margin-right: 80px;
            }
            .header-join {
                display: none !important ;
            }
        }
    }
    .sticky-header {
        padding: 10px 20px;
        position: fixed;

        .mobile-menu-icon {
            background-color: #fff;

            .spiner {
                background-color: $theme-color;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .header-area {
        padding: 20px 20px;
        // position: relative;
        .mobile-menu-icon {
            position: absolute;
            width: 50px;
            height: 38px;
            background-color: #152f46;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 10px;
            @include transition(0.3s);

            .spiner {
                width: 30px;
                height: 3px;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include transition(0.3s);
            }
            .spiner-top {
                margin-top: -8px;
            }
            .spiner-middle {
                width: 20px;
                left: 40%;
            }
            .spiner-bottom {
                margin-top: 8px;
            }
        }
        .slider-show {
            .spiner-top {
                margin-left: -16px;
                transform: rotate(50deg);
                margin-top: -2px;
            }
            .spiner-middle {
                opacity: 0;
            }
            .spiner-bottom {
                margin-left: -15px;
                transform: rotate(-50deg);
                margin-top: -2px;
            }
        }
        .mobile-menu {
            position: absolute;
            background-color: $theme-color;
            width: 100%;
            top: 100%;
            right:0;
            margin-left: 0px;
            text-align: center;
            border-top: 1px solid #fff;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);
            height: 0px;
            z-index: 9999;
            ul {
                padding: 20px 0;
                li {
                    display: block !important;

                    a {
                        display: inline-block;
                        margin: 10px 0;
                    }
                }
            }
        }
        .menu-show {
            height: 240px;
            opacity: 1;
            visibility: visible;
            @include transition(0.3s);
        }
        .header-login {
            a {
                margin-right: 50px;
            }
            .header-join {
               display: none !important;
            }
        }
    }
    .sticky-header {
        padding: 10px 20px;
        position: fixed;

        .mobile-menu-icon {
            background-color: #fff;

            .spiner {
                background-color: $theme-color;
            }
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .header-area {
        padding: 20px 30px;
        // position: relative;
        .mobile-menu-icon {
            position: absolute;
            width: 50px;
            height: 38px;
            background-color: #152f46;
            right: 50px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 10px;
            @include transition(0.3s);
            z-index: 9999;
            .spiner {
                width: 30px;
                height: 3px;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include transition(0.3s);
            }
            .spiner-top {
                margin-top: -8px;
            }
            .spiner-middle {
                width: 20px;
                left: 40%;
            }
            .spiner-bottom {
                margin-top: 8px;
            }
        }
        .slider-show {
            .spiner-top {
                margin-left: -16px;
                transform: rotate(50deg);
                margin-top: -2px;
            }
            .spiner-middle {
                opacity: 0;
            }
            .spiner-bottom {
                margin-left: -15px;
                transform: rotate(-50deg);
                margin-top: -2px;
            }
        }
        .mobile-menu {
            position: absolute;
            background-color: $theme-color;
            width: 100%;
            top: 100%;
            right:0;
            margin-left: 0px;
            text-align: center;
            border-top: 1px solid #fff;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);
            height: 0px;
            z-index: 9999;
            ul {
                padding: 20px 0;
                li {
                    display: block !important;

                    a {
                        display: inline-block;
                        margin: 10px 0;
                    }
                }
            }
        }
        .menu-show {
            height: 240px;
            opacity: 1;
            visibility: visible;
            @include transition(0.3s);
        }
        .header-login {
            a {
                margin-right: 70px;
            }
            .header-join {
                display: none !important;
            }
        }
    }
    .sticky-header {
        padding: 10px 30px;
        position: fixed;

        .mobile-menu-icon {
            background-color: #fff;

            .spiner {
                background-color: $theme-color;
            }
        }
    }
}
